.form-page {
    max-width: 800px;
    margin: 25px auto;
}

.page-title {
    text-align: start;
    margin-bottom: 25px;
    color: blue;
    font-size: 22px;
}

.form_inputs {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.form_inputs__wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.form_inputs__label {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 380px;
    margin-bottom: 30px;
}

.form_inputs__label span {
    text-align: start;
    margin: 10px 0;
}

.form_inputs__label input {
    height: 30px;
    padding: 5px;
    border-radius: 5px;
}

select {
    height: 43px;
    padding: 5px;
    border-radius: 5px;
}

.form_inputs__label-text {
    font-size: 16px;
    color: blue;
}

.form_inputs__label-error {
    color: red;
}